/**
* import Base theme
*/
@import url(base.less);

/** -----------------------------------------------------------------
 *  Colors
 */
@canvasColor: #4C7785;
@fontColor: black;

// Navigation-menu
@headerColor: #872D36;
@buttonColor: #671820;
@buttonHoverColor: #A5464F;
@buttonSelectedColor: #46080E;
@buttonTextColor: white;
@buttonHoverTextColor: white;
@anaxFlatText: #CE737C;
@anaxFlatHover: #619EBB;

//Navigation on report sides
@buttonNextPrevColor: #103C07;

//Breadcrumbs
@breadcrumbColor: #8B5E2F;
@breadcrumbBgColor: #D5A777;
@breadcrumbBorderColor: #482908;
@breadcrumbTextColor: white;

// Footer
@footerBgColor: #123543;
@footerTextColor: #FFFFFF;
@footerBorder: cadetblue;

// Links
@linkColor: #619EBB;
@linkVisitedColor: #BB605F;
@linkHoverColor: purple;

//Sidebar
@sidebarBgColor: #71B263;
@sidebarBorder: #103C07;
@sidebarLinkColor: blue;
@sidebarVisitedColor: purple;
@sidebarHoverColor: blue;

@bylineBorder: black;
 /** ---------------------------------------------------------------
  *  breadcrumbs
  */
 .breadcrumb-list {
     background-color: @breadcrumbBgColor;

     li {
         border: 1px solid @breadcrumbBorderColor;
         background-color: @breadcrumbColor;
         a {
             color: @breadcrumbTextColor;
             text-decoration: none;
         }
     }
}


/** -----------------------------------------------------------
 * Sidebar
 */
.sidebar-left {
    border-right: 1px solid @sidebarBorder;
    background-color: @sidebarBgColor;
    padding-left: 5px;
    .adjustwidth-border(2, 6);
    a:link {
        color: @sidebarLinkColor;
    }
    a:visited {
        color: @sidebarVisitedColor;
    }
    a:hover {
        color: @sidebarHoverColor;
        text-decoration: underline;
    }
}

/** ------------------------------------------------------------
 *  Footer
 */

.outer-wrap-footer {
    background-color: @footerBgColor;
    li {
        list-style: none;
    }
}

.inner-wrap.inner-wrap-footer {
    background-color: @footerBgColor;
    color: @footerTextColor;
    text-align: center;
}

.footer-column-2 {
    border-left: 1px solid @footerBorder;
    border-right: 1px solid @footerBorder;
}

.site-footer {
    border-top: 1px solid @footerBorder;
}


/** ------------------------------------------------------------
 *  Responsive design
 */
@media screen and (max-width: 960px) {
    .sidebar-left {
        border-right: 1px solid @sidebarBorder;
        padding-left: 5px;
        .adjustwidth-border(3, 6);
    }
}

@media screen and (max-width: 700px) {
    .footer-column {
        border-left: none;
        border-right: none;
        border-top: 1px solid @footerBorder;
    }
    .byline {
        border: 1px solid @fontColor;
        .adjustwidth-border(10, 2);
    }
}

@media screen and (max-width: 570px) {
.sidebar-left {
        border-bottom: 1px solid @sidebarBorder;
        margin-top: 0px;
    }
}
